<h1>Listing programs</h1>

<table>
  <thead>
    <tr>
      <th>Program name</th>
      <th>Program url</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Mission statement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.program_name %></td>
        <td><%= program.program_url %></td>
        <td><%= program.contact_name %></td>
        <td><%= program.contact_email %></td>
        <td><%= program.mission_statement %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program', new_program_path %>
